<body>
    <div class="login">
         <div class="avatar">
            <img src="projetimg/yachts/yacht2.png" />
        </div> 
        <h2>Login</h2>
        <h3>Welcome to ocean company</h3>
        <form class="login-form">
            <div class="textbox">
                <input type="text" placeholder="Name" />
            </div>
            <div class="textbox">
                <input type="text" placeholder="Surname" />
            </div>
            <div class="textbox">
                <input type="email" placeholder="Username" />
            </div>
            <div class="textbox">
                <input type="password" placeholder="Password" />
            </div>
            <button type="submit">LOGIN</button>
        </form>
    </div>
</body>
